{% extends 'base.html' %}

{% load wagtailcore_tags static wagtailimages_tags %}

{% block attributes %}
data-spy="scroll" data-target=".navbar" data-offset="50"
{% endblock %}

{% block extra_css %}
 <style>
     .banner-2 {
        background-image: url("{% static 'imgs/banner-fotto-20.jpg' %}");
     }
 </style>
{% endblock %}

{% block content %}
{% include 'includes/navbar-other.html' %}

<div class="jumbotron banner-2" id="home"></div>

  <section class="px-5">
    <div class="container">
      <h1 class="display-2 font-weight-bold">{{ page.post_title }}</h1>
      <h5 class="text-muted">{{ page.author }}</h6>
      <p class="text-muted"><span class="font-weight-bold">Last updated:</span> {{ page.published_date }}</p>
      <hr class="my-3">
    </div>      
    <div class="container">
      {% for block in page.main_content %}
          {% include_block block %}
      {% endfor %}
    </div>
  </section>

  <section class="background-olive pt-3">
    <div class="row container justify-content-center mx-auto mt-5">
      <div class="col text-center">
        <h6 class="text-cream">OUR BLOG</h6>
        <h2>Check Out Similar Posts</h2>
        <hr>
      </div>
    </div>
    <div class="row py-3 mx-5 px-5  row-cols-1 row-cols-md-2 row-cols-lg-5 justify-content-center d-flex">
      {% for post in posts %}
      <div class="col mb-5 d-inline-flex justify-content-center">
        <div class="card" style="width: 100%;">
          {% image post.preview_image original as img %}
          <img src="{{ img.url }}" class="card-img-top" alt="{{ img.alt }}">
          <div class="card-body">
            <h5 class="card-title">{{ post.post_title }}</h5>
            <p class="card-text">{{ post.summary }}
            </p>
            <a href="{{ post.get_full_url }}" class="card-link">Click here to learn more about this project.</a>
            <a href="{{ post.get_full_url }}" class="btn btn-primary mt-3">Check Out Their Page</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ post.published_date }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <section>
    <div class="row d-flex justify-content-center my-5 py-5"></div>
    <div class="col text-center pb-5 mb-5">
      <div class="container mb-5 pb-5">
        <h1>Grow Your Business!</h1>
        <p class="text-muted container">There is no time like the present to move your business online. We encourage you
          to reach out and have a conversation with us about how we can serve you to bring your business to knew heights.
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg mx-auto" href="#" role="button">Start Today</a>
        </p>
      </div>
    </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container py-3 mt-auto d-md-flex justify-content-around">
      <h6 class="text-cream d-flex justify-content-center"><small>Designed and Developed by Us</small></h6>
      <h6 class="text-cream d-flex justify-content-center"><small>&copy; Copyright 2020</small></h6>
      <a href="#" class="footer-link d-flex justify-content-center">
        <h6 class="text-cream"><small>Sitemap</small></h6>
      </a>
      <div class="d-flex justify-content-center">
        <h6><small><a href="#" class="text-cream footer-link">Terms of Use</a> <span class="text-cream">| </span><a
              href="#" class="text-cream footer-link">Privacy Policy</a></small></h6>
      </div>
    </div>
  </footer>
{% endblock %}

