{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block attributes %}
    data-spy="scroll" data-target=".navbar" data-offset="50"
{% endblock %}

{% block extra_css %}
{% image page.banner_image original as img %}
 <style>
     .banner {
        background-image: url("{{ img.url }}");
     }
     .banner-2 {
        background-image: url("{{ img.url }}");
     }
 </style>
{% endblock %}

{% block content %}

{% include 'includes/navbar-home.html' %}

  <div class="jumbotron banner text-center" id="home">
    <div class="my-auto">
      <h1 class="display-4">{{ page.banner_title }}</h1>
      <p class="lead">{{ page.banner_subtitle }}</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg mx-auto" href="#" role="button">{{ page.banner_button_text }}</a>
      </p>
    </div>
  </div>
  <div class="row pt-5 my-3">
    <div class="col text-center">
      <h6 class="text-muted">OUR PROMISE</h6>
      <p>{{ page.promise_subtitle }}</p>
    </div>
  </div>
  
  <div class="scroll-link" id="services"></div>
  <section>
    <div class="row container justify-content-center mx-auto mt-5 pt-5">
      <div class="col text-center">
        <h6 class="text-muted">WHAT WE ARE GOOD AT</h6>
        <h2>Our Services</h2>
        <hr>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 flex-row d-flex justify-content-center mx-5 px-5 mt-5">
      <div class="col pb-5">
        <div class="container justify-content-center d-flex">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-heading" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
            <path fill-rule="evenodd"
              d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
            <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z" />
          </svg>
        </div>
        <h1><small>Website Design</small></h1>
        <p class="text-muted">{{ page.web_design_body }}</p>
      </div>
      <div class="col pb-5">
        <div class="container justify-content-center d-flex">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-code-square" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path fill-rule="evenodd"
              d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z" />
          </svg>
        </div>
        <h1><small>Website Development</small></h1>
        <p class="text-muted">{{ page.web_dev_body }}</p>
      </div>
      <div class="col pb-5">
        <div class="container justify-content-center d-flex">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
          </svg>
        </div>
        <h1><small>Logo Design</small></h1>
        <p class="text-muted">{{ page.logo_design_body }}</p>
      </div>
      <div class="col pb-5">
        <div class="container justify-content-center d-flex">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-broadcast-pin" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 0 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707z" />
            <path d="M10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
            <path fill-rule="evenodd" d="M8 8.5a.5.5 0 0 1 .5.5v6.5a.5.5 0 0 1-1 0V9a.5.5 0 0 1 .5-.5z" />
          </svg>
        </div>
        <h1><small>Website Hosting</small></h1>
        <p class="text-muted">{{ page.web_hosting_body }}</p>
      </div>
      <div class="col pb-5">
        <div class="container justify-content-center d-flex">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bar-chart-line" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5h-2v12h2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z" />
            <path fill-rule="evenodd" d="M0 14.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z" />
          </svg>
        </div>
        <h1><small>SEO</small></h1>
        <p class="text-muted">{{ page.seo_body }}</p>
      </div>
      <div class="col pb-5">
        <div class="container justify-content-center d-flex">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-check" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z" />
            <path fill-rule="evenodd"
              d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
          </svg>
        </div>
        <h1><small>Multimedia Management</small></h1>
        <p class="text-muted">{{ page.media_man_body }}</p>
      </div>
    </div>
  </section>
  <div class="scroll-link" id="portfolio"></div>
  <section class="background-olive pt-5">
    <div class="row container justify-content-center mx-auto">
      <div class="col text-center pt-3">
        <h6 class="text-cream">OUR PORTFOLIO</h6>
        <h2>Find Something You'll Like From Our Past Experiences</h2>
        <hr>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 flex-row d-flex justify-content-center mx-5 px-5 pt-5">
      {% for project in projects %}
      <div class="col mb-5 d-inline-flex justify-content-center">
        <div class="card" style="width: 100%;">
          {% image project.preview_image original as img %}
          <img src="{{ img.url }}" class="card-img-top" alt="{{ img.alt }}">
          <div class="card-body">
            <h5 class="card-title">{{ project.project_title }}</h5>
            <p class="card-text">{{ project.summary }}
            </p>
            <a href="{{ project.get_full_url }}" class="card-link">Click here to learn more about this project.</a>
            <a href="{{ project.get_full_url }}" class="btn btn-primary mt-3">Check Out Their Page</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <section id="testimonials">
    <div class="container d-flex pt-5 my-5">
      <h2 class="mx-auto">Testimonials</h2>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide mt-3 container align-content-center" data-ride="carousel">
      <hr>
      <div class="carousel-inner pt-5">
        {% for testimonial in testimonials %}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
          <blockquote class="blockquote">
            <p class="mb-0">{{ testimonial.quote }}</p>
            <footer class="blockquote-footer"><cite title="Source Title">{{ testimonial.attribution }}</cite></footer>
          </blockquote>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <div class="scroll-link" id="blog"></div>
  <section class="background-olive pt-3">
    <div class="row container justify-content-center mx-auto mt-5">
      <div class="col text-center">
        <h6 class="text-cream">OUR BLOG</h6>
        <h2>Below We Share Stories of Our Expertise</h2>
        <hr>
      </div>
    </div>
    <div class="row py-3 mx-5 px-5  row-cols-1 row-cols-md-2 row-cols-lg-5 justify-content-center d-flex">
      {% for post in posts %}
      <div class="col mb-5 d-inline-flex justify-content-center">
        <div class="card" style="width: 100%;">
          {% image post.preview_image original as img %}
          <img src="{{ img.url }}" class="card-img-top" alt="{{ img.alt }}">
          <div class="card-body">
            <h5 class="card-title">{{ post.post_title }}</h5>
            <p class="card-text">{{ post.summary }}
            </p>
            <a href="{{ post.get_full_url }}" class="card-link">Click here to learn more about this project.</a>
            <a href="{{ post.get_full_url }}" class="btn btn-primary mt-3">Check Out Their Page</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ post.published_date }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <section>
    <div class="row d-flex justify-content-center my-5 py-5"></div>
      <div class="col text-center pb-5 mb-5">
        <div class="container mb-5 pb-5">
          <h1>{{ page.banner_bottom_title }}</h1>
          <p class="text-muted container">{{ page.banner_bottom_subtitle }}
          </p>
          <p class="lead">
            <a class="btn btn-primary btn-lg mx-auto" href="#" role="button">{{ page.banner_bottom_cta }}</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container py-3 mt-auto d-md-flex justify-content-around">
      <h6 class="text-cream d-flex justify-content-center"><small>Designed and Developed by Us</small></h6>
      <h6 class="text-cream d-flex justify-content-center"><small>&copy; Copyright 2020</small></h6>
      <a href="#" class="footer-link d-flex justify-content-center"><h6 class="text-cream"><small>Sitemap</small></h6></a>
      <div class="d-flex justify-content-center"><h6><small><a href="#" class="text-cream footer-link">Terms of Use</a> <span class="text-cream">| </span><a href="#" class="text-cream footer-link">Privacy Policy</a></small></h6></div>
    </div>
  </footer>

{% endblock content %}
